<h4>{{ ctrl.character.name }} <button class="btn btn-default" ng-click="ctrl.showNameForm()">Change Name</button></h4>
<form role="form" ng-show="ctrl.visibleName" ng-submit="ctrl.editCharacter()">
  <input class="form-control" type="text" name="name" ng-model="ctrl.character.name"> 
  <input class="btn btn-info" type="submit" value="Save Changes">
</form>

<p><h5>Gender:</h5> {{ ctrl.character.gender }} <button class="btn btn-default" ng-click="ctrl.showGenderForm()">Change Gender</button></p>
<form role="form" ng-show="ctrl.visibleGender" ng-submit="ctrl.editCharacter()">
  <input class="form-control" type="text" name="gender" ng-model="ctrl.character.gender"> 
  <input class="btn btn-info" type="submit" value="Save Changes">
</form>

<p><h5>Homeworld:</h5> {{ ctrl.character.homeworld }}</p>
<p><h5>Skin Color:</h5> {{ ctrl.character.skin }}</p>
<p><h5>Hair Color:</h5> {{ ctrl.character.hair }}</p>
<p><h5>Style:</h5> {{ ctrl.character.style }}</p>
<p><h5>Personality:</h5> {{ ctrl.character.personality }}</p>




