<div class="jumbotron">
  <h2>Escape from Ghlagor <small>A Sci-fi Choose Your Own Adventure Game</small></h2>
</div>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="home.about">About</a></li>
    <li><a ui-sref="home.story">Story</a></li>
    <li><a ui-sref="home.character">Character Creator</a></li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-12" ui-view>
    <p>Welcome to the prison moon of Ghlagor. The galaxy awaits -- are you ready to escape?</p>
    <a ui-sref="home.story"><button class="btn btn-primary">Start playing!</button></a>
  </div>
</div>

<footer class="footer"> 
  <div class="container">
    <p class="text-muted">&copy; Rachel Kory 2016</p>
  </div>
</footer>



